body {
	border-top: 7px solid #8df399;
}

.wrapper {
	width: 97%;

}

#slideshow {
	height: 312px;
	
}

.rsArrowIcn {
	display: none;
}

.scoop {
	padding-right: 4.5%;
}

#scoop article.span3 h3 {
	font-size: 22px;
	line-height: 25px;
	margin: 2px 0;
}