@charset "UTF-8";
/* v1.0.2 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
  width: 600px;
  height: 400px;
  position: relative;
  direction: ltr; }

.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0); }

.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none; }

.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: transparent; }

.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

.rsArrow,
.rsThumbsArrow {
  cursor: pointer; }

.rsThumb {
  float: left;
  position: relative; }

.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear; }

.rsGCaption {
  width: 100%;
  float: left;
  text-align: center; }

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important; }

.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none; }

.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto; }

.rsContent {
  width: 100%;
  height: 100%;
  position: relative; }

.rsPreloader {
  position: absolute;
  z-index: 0; }

.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none; }

.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25); }

.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22; }

.rsTabs {
  float: left; }

.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

.rsVideoContainer {
  /*left: 0;
  top: 0;
  position: absolute;*/
  /*width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative; }

.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s; }

.rsVideoFrameHolder.rsVideoActive {
  opacity: 1; }

.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px; }

.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;
  -webkit-backface-visibility: hidden; }

.grab-cursor {
  cursor: url(grab.png) 8 8, move; }

.grabbing-cursor {
  cursor: url(grabbing.png) 8 8, move; }

.rsNoDrag {
  cursor: auto; }

.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url(blank.gif);
  -webkit-backface-visibility: hidden; }

/******************************
*
*  RoyalSlider Default Skin 
*
*    1. Arrows 
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    
*  Sprite: 'rs-default.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
* 
******************************/
/* Background */
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
  overflow: hidden; }

/***************
*
*  1. Arrows
*
****************/
.rsDefault .rsArrow {
  height: 100%;
  width: 44px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21; }

.rsDefault.rsVer .rsArrow {
  width: 100%;
  height: 44px; }

.rsDefault.rsVer .rsArrowLeft {
  top: 0;
  left: 0; }

.rsDefault.rsVer .rsArrowRight {
  bottom: 0;
  left: 0; }

.rsDefault.rsHor .rsArrowLeft {
  left: 0;
  top: 0; }

.rsDefault.rsHor .rsArrowRight {
  right: 0;
  top: 0; }

.rsDefault .rsArrowIcn {
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  position: absolute;
  cursor: pointer;
  background: url("../images/icons/rs-default.png");
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #111;
  border-radius: 2px; }

.rsDefault .rsArrowIcn:hover {
  background-color: rgba(0, 0, 0, 0.9); }

.rsDefault.rsHor .rsArrowLeft .rsArrowIcn {
  background-position: -64px -32px; }

.rsDefault.rsHor .rsArrowRight .rsArrowIcn {
  background-position: -64px -64px; }

.rsDefault.rsVer .rsArrowLeft .rsArrowIcn {
  background-position: -96px -32px; }

.rsDefault.rsVer .rsArrowRight .rsArrowIcn {
  background-position: -96px -64px; }

.rsDefault .rsArrowDisabled .rsArrowIcn {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: .4;
  *display: none; }

/***************
*
*  2. Bullets
*
****************/
.rsDefault .rsBullets {
  position: absolute;
  z-index: 35;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  line-height: 18px;
  overflow: hidden; }

.rsDefault .rsBullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 5px 1px;
  border-radius: 50%;
  background: #777;
  background: rgba(255, 255, 255, 0.5); }

.rsDefault .rsBullet.rsNavSelected {
  background-color: #FFF; }

/***************
*
*  3. Thumbnails
*
****************/
.rsDefault .rsThumbsHor {
  padding-bottom: 4px;
  width: 100%;
  height: 72px; }

.rsDefault .rsThumbsVer {
  padding-right: 4px;
  width: 96px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0; }

.rsDefault.rsWithThumbsHor .rsThumbsContainer {
  position: relative;
  height: 100%; }

.rsDefault.rsWithThumbsVer .rsThumbsContainer {
  position: relative;
  width: 100%; }

.rsDefault .rsThumb {
  float: left;
  overflow: hidden;
  width: 96px;
  height: 72px; }

.rsDefault .rsThumb img {
  width: 100%;
  height: 100%; }

.rsDefault .rsThumb.rsNavSelected {
  background: #02874a; }

.rsDefault .rsThumb.rsNavSelected img {
  opacity: 0.3;
  filter: alpha(opacity=30); }

.rsDefault .rsTmb {
  display: block; }

/* Thumbnails arrow icons */
.rsDefault .rsThumbsArrow {
  height: 100%;
  width: 20px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
  background: #000;
  background: rgba(0, 0, 0, 0.75); }

.rsDefault .rsThumbsArrow:hover {
  background: rgba(0, 0, 0, 0.9); }

.rsDefault.rsWithThumbsVer .rsThumbsArrow {
  width: 100%;
  height: 20px; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft {
  top: 0;
  left: 0; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowRight {
  bottom: 0;
  left: 0; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft {
  left: 0;
  top: 0; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowRight {
  right: 0;
  top: 0; }

.rsDefault .rsThumbsArrowIcn {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  position: absolute;
  cursor: pointer;
  background: url("rs-default.png"); }

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn {
  background-position: -128px -32px; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn {
  background-position: -128px -48px; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn {
  background-position: -144px -32px; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn {
  background-position: -144px -48px; }

.rsDefault .rsThumbsArrowDisabled {
  display: none !important; }

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
  .rsDefault .rsThumb {
    width: 59px;
    height: 44px; }

  .rsDefault .rsThumbsHor {
    height: 44px; }

  .rsDefault .rsThumbsVer {
    width: 59px; } }
/***************
*
*  4. Tabs
*
****************/
.rsDefault .rsTabs {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding-top: 12px;
  position: relative; }

.rsDefault .rsTab {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: auto;
  width: auto;
  color: #333;
  padding: 5px 13px 6px;
  min-width: 72px;
  border: 1px solid #D9D9DD;
  border-right: 1px solid #f5f5f5;
  text-decoration: none;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
  -webkit-box-shadow: inset 1px 0 0 #fff;
  box-shadow: inset 1px 0 0 #fff;
  *display: inline;
  *zoom: 1; }

.rsDefault .rsTab:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.rsDefault .rsTab:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #cfcfcf; }

.rsDefault .rsTab:active {
  border: 1px solid #D9D9DD;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset; }

.rsDefault .rsTab.rsNavSelected {
  color: white;
  border: 1px solid #999;
  text-shadow: 1px 1px #838383;
  -webkit-box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
  box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
  background: #ACACAC;
  background-image: -webkit-linear-gradient(top, #ACACAC, #BBB);
  background-image: -moz-llinear-gradient(top, #ACACAC, #BBB);
  background-image: linear-gradient(to bottom, #ACACAC, #BBB); }

/***************
*
*  5. Fullscreen button
*
****************/
.rsDefault .rsFullscreenBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 22;
  display: block;
  position: absolute;
  cursor: pointer; }

.rsDefault .rsFullscreenIcn {
  display: block;
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url("../images/icons/rs-default.png") 0 0;
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #000;
  border-radius: 2px; }

.rsDefault .rsFullscreenIcn:hover {
  background-color: rgba(0, 0, 0, 0.9); }

.rsDefault.rsFullscreen .rsFullscreenIcn {
  background-position: -32px 0; }

/***************
*
*  6. Play/close video button
*
****************/
.rsDefault .rsPlayBtn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  cursor: pointer; }

.rsDefault .rsPlayBtnIcon {
  width: 64px;
  display: block;
  height: 64px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: url(rs-default.png) no-repeat 0 -32px;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  *background-color: #000; }

.rsDefault .rsPlayBtn:hover .rsPlayBtnIcon {
  background-color: rgba(0, 0, 0, 0.9); }

.rsDefault .rsBtnCenterer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px; }

.rsDefault .rsCloseVideoBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 500;
  position: absolute;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0); }

.rsDefault .rsCloseVideoBtn.rsiOSBtn {
  top: -38px;
  right: -6px;
  /*top: -6px;
  right: -38px;*/ }

.rsDefault .rsCloseVideoIcn {
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url("../images/icons/rs-default.png") -64px 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75); }

.rsDefault .rsCloseVideoIcn:hover {
  background-color: rgba(0, 0, 0, 0.9); }

/***************
*
*  7. Preloader
*
****************/
.rsDefault .rsPreloader {
  width: 20px;
  height: 20px;
  background-image: url(../preloaders/preloader-white.gif);
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px; }

@font-face {
  font-family: 'BebasNeueRegular';
  src: url("../fonts/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue-webfont.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
/* Viewport & Wrapper */
html {
  margin: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Arial', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 150%;
  background-color: #F7F5F5;
  color: #333;
  margin: 0;
  min-width: 320px;
  border-bottom: 7px solid #DA1F26;
  border-top: 7px solid #DA1F26;
  /* pink for breast cancer awareness month
  border-bottom:7px solid #f3b0b7;
  border-top:7px solid #f3b0b7; */ }

/* Basics */
/* Headings */
h1, h2, h3, h4 {
  font-family: 'BebasNeueRegular';
  font-weight: normal;
  color: #000; }

h2 {
  font-size: 34px;
  line-height: 30px; }

h3 {
  font-size: 28px;
  margin: 20px 0 5px 0;
  line-height: 25px; }

h4 {
  font-size: 17px;
  margin: 0 0 10px 0; }

h5 {
  font-size: 13px;
  font-family: 'Arvo', serif;
  font-weight: normal;
  margin: 5px 0 5px;
  text-transform: uppercase; }

h2 + em {
  color: #999;
  position: relative;
  top: -10px; }

h3.widgettitle {
  font-size: 23px; }

a.brand {
  background: transparent url("../images/icons/smg_logo.png");
  /* pink logo for breast cancer awareness month 
  background:transparent url('../images/icons/smg_logo-pink.png');*/
  background-repeat: no-repeat;
  display: block;
  height: 53px;
  margin: 10px 0;
  overflow: hidden;
  text-indent: -1000px;
  width: 226px; }

/* Links */
a {
  color: #DA1F26;
  text-decoration: none; }

a.read-more {
  background: transparent url("../images/icons/sprite.png") right -83px;
  color: #808080;
  font-family: 'Arvo', serif;
  font-size: 10px;
  padding-left: 6px;
  padding-right: 12px;
  text-transform: uppercase; }

a.read-more.date {
  line-height: 12px;
  position: absolute;
  right: 0;
  bottom: 0; }

a:hover {
  color: #000; }

/* Misc. */
hr {
  background-color: #CCC;
  border: 0;
  color: #CCC;
  height: 1px;
  margin: 20px 0;
  padding: 0px 0px 0px 0px;
  text-align: left;
  width: 100%; }

small {
  font-size: 70%; }

address {
  font-style: normal; }

.shadow {
  background: url("../images/props/shadows.png") repeat-x 0 0;
  height: 25px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 200; }

.shadow.top {
  top: 0; }

.shadow.bottom {
  background-position: 0 -25px;
  bottom: 0; }

/* Forms */
form ul {
  display: block;
  list-style-type: none;
  padding: 0;
  position: relative; }

form ul li {
  position: relative; }

form input, textarea {
  color: #BBB;
  display: block;
  margin: 15px 0;
  padding: 6px 3%;
  width: 92%; }

form input[type="submit"] {
  background-color: #DA1F26;
  border: none;
  color: #fff;
  font-family: 'BebasNeueRegular';
  font-size: 22px;
  padding: 4px 15px 3px;
  width: auto;
  -webkit-appearance: none; }

form input[type="submit"]:hover {
  background-color: #000;
  cursor: pointer; }

form input:focus, textarea:focus {
  outline: 1px solid #666; }

label {
  font-family: 'Arvo', serif;
  text-transform: uppercase; }

footer form input, footer form textarea {
  background-color: #DDD;
  border: none;
  color: #666; }

footer form textarea {
  height: 50px;
  margin-bottom: 0;
  resize: vertical; }

footer form label {
  font-size: 10px;
  position: absolute;
  left: 8px;
  top: 3px; }

/* Divisions */
/* Containers */
#container {
  background-color: #FFF;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2); }

.wrapper {
  margin: 0 auto;
  width: 1010px;
  position: relative; }

#container > * {
  padding: 30px; }

.row {
  position: relative;
  width: 100%; }

.row:before,
.row:after {
  display: table;
  content: ""; }

.row:after {
  clear: both; }

.row.lined > [class*="span"] + [class*="span"]:before {
  background-color: #CCC;
  bottom: 0;
  content: '';
  left: -19px;
  position: absolute;
  top: 0;
  width: 1px; }

footer .row.lined > [class*="span"] + [class*="span"]:before {
  background-color: #4D4D4D; }

[class*="span"] {
  float: left;
  margin: 5px 0;
  min-height: 1px;
  position: relative; }

#scoop {
  margin: 0 0 27px 0; }

#scoop article.span3 {
  margin-right: 4%;
  width: 29.33333%; }
  #scoop article.span3 img {
    width: 100%;
    height: auto; }

.span12 {
  width: 100%; }

.span9 {
  width: 75%; }

.span6 {
  width: 50%; }

.span3 {
  width: 21%;
  margin-right: 4%; }

.gmap {
  margin-right: 4.76%;
  width: 21%; }

.contact {
  margin-right: 4.76%;
  width: 19%; }

.member, .copyright {
  width: 50%;
  margin: 5px 0; }

.scoop {
  padding-right: 4%; }

/* Headers */
header#primary {
  color: #000;
  overflow: hidden;
  padding: 30px 0; }

.template header {
  margin-bottom: 5px; }

.template header h2 {
  background-color: #DA1F26;
  color: #fff;
  margin: 0 0 20px 0;
  padding: 20px 30px 5px; }

.template header h2 small {
  font-family: 'Arvo', serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase; }

.template header h3 {
  border-bottom: 4px solid #000;
  padding-bottom: 15px; }

.template header h4, footer header h4 {
  color: #000;
  border-bottom: 4px solid #000;
  font-family: 'Arvo', serif;
  font-weight: 400;
  padding-bottom: 5px;
  text-transform: uppercase; }

.brand {
  float: left; }

.navs {
  float: right; }

nav ul {
  font-family: 'Arvo', serif;
  font-size: 13px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: -18px;
  text-align: right;
  text-transform: uppercase; }

nav ul li {
  display: inline-block; }

nav ul li a {
  color: #000;
  display: block;
  padding: 0 18px; }

nav ul li a:hover, nav ul li a.current {
  color: #DA1F26; }

nav ul li + li {
  border-left: 1px solid #000; }

nav ul#categories {
  text-align: left;
  left: 50px;
  top: 25px; }

#social ul {
  right: 0;
  margin: 10px 0 20px 0; }

#social ul li {
  border: none; }

#social ul li a {
  background: transparent url("../images/icons/sprite.png") 0 -60px;
  display: block;
  height: 20px;
  margin-left: 5px;
  padding: 0;
  text-align: left;
  text-indent: -10000px;
  width: 20px; }

#social ul li.facebook a {
  background-position: 0 -60px; }

#social ul li.twitter a {
  background-position: -20px -60px; }

#social ul li.youtube a {
  background-position: -40px -60px; }

#social ul li.facebook a:hover {
  background-position: 0 -80px; }

#social ul li.twitter a:hover {
  background-position: -20px -80px; }

#social ul li.youtube a:hover {
  background-position: -40px -80px; }

/* Content */
/* SlideShow */
#banner {
  /* For the header area use the_field('header_image', 'general'); to get the url and put it in via inline css */
  /*				background: url('../images/props/ferris-wheel.png') repeat-x 0 0;*/
  padding: 0;
  position: relative;
  min-height: 162px; }

#banner .text {
  bottom: 0;
  left: 0;
  padding-bottom: 46px;
  position: absolute; }

#banner .text .black {
  background-color: #000;
  color: #FFF;
  display: inline-block;
  font-family: 'Arvo', serif;
  font-size: 13px;
  padding: 7px 15px;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-left: 65px; }

#banner .text .red {
  margin: 0; }

#banner .text .red span {
  background-color: #DA1F26;
  color: #FFF;
  display: inline-block;
  font-family: 'BebasNeueRegular';
  font-size: 54px;
  margin-bottom: 6px;
  padding: 20px 15px 17px 65px; }

#banner .text a.black {
  margin-left: 227px; }

#banner .text a.black:hover {
  background-color: #DA1F26; }

#slideshow {
  height: 422px;
  overflow: hidden; }

#slideshow .slide a,
#slideshow img {
  display: block; }

#slideshow .rsArrow {
  z-index: 300; }

#slideshow .rsArrowLeft {
  left: auto;
  right: 27px; }

#slideshow .rsArrowIcn {
  background-color: rgba(218, 31, 38, 0.8) !important;
  bottom: 20px;
  height: 20px;
  top: auto;
  width: 20px; }

#slideshow .rsArrowRight .rsArrowIcn {
  background-position: -70px -70px; }

#slideshow .rsArrowLeft .rsArrowIcn {
  background-position: -70px -38px; }

/* What's the Scoop */
#scoop .span3 {
  padding-bottom: 10px; }

/* Hot Off the Blog */
#hot h3 {
  font-size: 28px;
  line-height: 30px; }

/* Let's Be Social */
#be-social h3 {
  margin-top: 0; }

.facebook-box,
.fb-like-box,
.fb-like-box iframe {
  width: 100%; }

#twitter .tweet {
  min-height: 35px;
  padding: 15px 0 15px 45px;
  position: relative; }

#twitter .tweet + .tweet {
  border-top: 1px solid #CCC; }

#twitter .tweet_content {
  margin: 0; }

#twitter .tweet_content:before {
  background: transparent url("../images/icons/sprite.png") 0px -100px;
  content: '';
  display: block;
  height: 35px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 35px; }

/* New Work */
#new-work {
  display: none; }

#new-work-slider {
  height: 170px; }

#new-work-slider .rsArrow {
  background: transparent url("../images/icons/sprite.png") 0 -140px;
  height: 27px;
  top: 47px;
  position: absolute;
  width: 20px; }

#new-work-slider .rsArrow.rsArrowRight {
  background-position: -20px -140px;
  right: 0; }

#new-work-slider .rsArrow.rsArrowRight:hover {
  background-position: 0px -140px; }

#new-work-slider .rsArrow.rsArrowLeft {
  background-position: -40px -140px; }

#new-work-slider .rsArrow.rsArrowLeft:hover {
  background-position: -60px -140px; }

#new-work-slider a.work {
  float: left;
  margin: 0 14px 0 36px;
  width: 274px; }

#new-work-slider a.work + a.work {
  margin: 0 14px; }

a.work {
  border-bottom: 2px solid #000;
  color: #000; }

a.work img {
  width: 100%;
  height: auto; }

a.work:hover {
  color: #DA1F26; }

a.work h5 {
  background: transparent url("../images/icons/sprite.png") no-repeat right -79px;
  font-weight: normal;
  font-size: 12px;
  margin: 12px 0; }

a.work h5 span {
  color: #808080;
  font-family: 'Arvo', serif;
  font-size: 10px;
  text-transform: uppercase; }

/* Post */
pre {
  margin-bottom: -25px;
  margin-left: -2px;
  width: 101%; }

pre img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%; }

/* Templates */
/* Contact */
.template .map {
  margin: 10px 0; }

/* About */
.coins {
  text-align: center; }

.coins h4 {
  background-color: #000;
  border-radius: 130px;
  color: white;
  font-size: 28px;
  height: 60px;
  line-height: 30px;
  margin: 0 auto;
  padding: 35px 10px;
  width: 110px; }

.coins hr {
  background-color: #DA1F26;
  margin: -6px; }

.coins hr + .row {
  position: relative;
  top: -10px; }

.coins .row.lined [class*="span"] {
  padding: 0 0 15px 0; }

.coins hr + .row.lined [class*="span"] {
  padding: 25px 0 0 0; }

.coins .row.lined [class*="span"] + [class*="span"]:before {
  background-color: #DA1F26; }

/* Our Work */
.post-type-archive-work h3,
.archive .span3.post h3 {
  margin-top: 10px !important; }

.post-type-archive-work article, .tax-medium article {
  height: 330px; }

#categories li:first-child a {
  padding-left: 0; }

#categories li.current-menu-item a {
  color: #DA1F26; }

/* Loops */
.post .image img {
  border-left: 15px solid #DA1F26; }

.post h3 {
  border-bottom: 2px solid #000;
  line-height: 24px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 25px;
  position: relative; }

.post h3 a {
  color: #000; }

.post h3 a:hover {
  color: #DA1F26; }

.post h3:before {
  background: url("../images/icons/sprite.png") no-repeat -418px -160px;
  content: '';
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 0px;
  width: 16px; }

.post .data {
  border: solid #CCC;
  border-width: 1px 0;
  overflow: hidden;
  margin-top: 18px;
  padding: 5px 0; }

.post .data span {
  float: left; }

.post .data span + span {
  float: right; }

span.share a {
  background-image: url("../images/icons/sprite.png");
  display: inline-block;
  height: 15px;
  margin-left: 2px;
  text-indent: -10000px;
  position: relative;
  top: 2px;
  width: 15px; }

span.share a.facebook {
  background-position: -60px -85px; }

span.share a.twitter {
  background-position: -75px -85px; }

span.share a:hover.facebook {
  background-position: -60px -70px; }

span.share a:hover.twitter {
  background-position: -75px -70px; }

/* Sidebar */
#sidebar ul {
  list-style-type: none; }

#sidebar hr {
  background-color: #000;
  height: 2px; }

ul#side {
  padding: 0; }

ul#side a:hover {
  color: #DA1F26; }

ul#side a:before, ul#side span:before {
  background-image: url("../images/icons/sprite.png");
  content: '';
  display: block;
  position: absolute; }

ul#side > li > a, ul#side > li > span {
  border-bottom: 2px solid #000;
  color: #000;
  display: block;
  font-family: 'BebasNeueRegular';
  font-size: 23px;
  line-height: 36px;
  padding: 3px 0 0 24px;
  position: relative; }

ul#side > li > span {
  border-bottom: none; }

ul#side > li > a:before, ul#side > li > span:before {
  background-position: -418px -160px;
  height: 16px;
  left: 0;
  top: 11px;
  width: 16px; }

ul#side > li > ul {
  margin: 15px 0 10px 0;
  padding-left: 13px; }

ul#side > li.dropdown > ul {
  display: none; }

ul#side > li > ul > li > a {
  color: #808080;
  font-family: 'Arvo', serif;
  font-size: 12px;
  line-height: 23px;
  padding-left: 15px;
  position: relative;
  text-transform: uppercase; }

ul#side > li > ul > li > a:before {
  background-position: -428px -151px;
  height: 9px;
  left: 0;
  top: 3px;
  width: 6px; }

/* Custom Post Type Modifiers */
/* Footer */
#curl-shadow {
  background: url("../images/backgrounds/curlshadow.png") no-repeat 50% 0;
  height: 270px;
  width: 1124px;
  left: -57px;
  margin: 0 auto;
  position: absolute;
  top: -160px;
  z-index: -1; }

footer {
  color: #666666;
  padding: 50px 30px; }

footer h4 {
  color: #666666; }

footer em {
  font-size: 11px;
  line-height: 11px; }

footer img.map {
  display: block;
  margin: 15px 0; }

p.coprf {
  background: transparent url("../images/icons/sprite.png") no-repeat -100px -126px;
  line-height: 14px;
  padding: 10px 0 10px 40px; }

/* Individual Team Member Template Styling */
.content-img {
  margin-top: -11px;
  margin-bottom: -17px;
  max-width: 100%;
  height: auto !important; }

p.more {
  font-size: 19px;
  font-family: 'BebasNeueRegular';
  text-align: left;
  padding: 10px 0px 10px 0px;
  /*border-top: 1px solid #333;*/
  border-bottom: 1px solid #333;
  width: 217px; }

h3.team {
  border-bottom: 2px solid #333;
  color: black;
  display: block;
  font-family: 'BebasNeueRegular';
  line-height: 36px;
  padding: 0 0 0 0px;
  position: relative; }

li.group {
  font-size: 15px;
  font-family: 'Arvo', serif;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase; }

p.lastp {
  padding-bottom: 10px; }

p.follow {
  padding-top: 4px;
  padding-bottom: 0px; }

p.subscribe {
  float: right;
  height: 35px;
  margin-top: -40px;
  margin-left: 180px; }

h2.blog {
  font-size: 27px;
  background-color: #DA1F26;
  color: white;
  margin: 0 0 20px 0;
  padding: 13px 0px 10px 9px;
  text-align: left; }

#badges h3.team {
  text-align: center; }

#badges img {
  width: 90px;
  height: 90px;
  margin-left: -1px;
  padding: 0px 0px 0px 0px; }

#badges p {
  text-align: center;
  line-height: 16px; }

#badges p.badge-title {
  font-size: 14px;
  color: #000;
  font-family: 'Arvo', serif;
  font-weight: 900;
  line-height: 16px;
  text-transform: uppercase; }

#badges #bottom-line {
  border-bottom: 2px solid #333;
  height: 0px; }

/* Invaild selector; Not sure what was trying to be accomplished – Mike
[posts show=3]{
	border-bottom: 2px solid #333;
	height: 65px;
}
*/
/* Dynamic Menu Styling */
li.menu-item a {
  color: #808080;
  font-family: 'Arvo', serif;
  font-size: 12px;
  line-height: 23px;
  padding-left: 15px;
  position: relative;
  text-transform: uppercase;
  margin-left: -39px; }
li.menu-item.current-menu-item a {
  font-weight: 700;
  color: #333; }

ul.main-menu a {
  margin-left: 0;
  padding: 0 18px;
  color: black;
  line-height: 18px; }

ul#side a:before, ul#side span:before {
  background-image: url("../images/icons/sprite.png");
  background-position: -428px -151px;
  content: '';
  display: block;
  position: absolute;
  height: 9px;
  left: 0;
  top: 3px;
  width: 6px; }

.menu-clientcreative-container {
  display: inline-block;
  width: 276px; }

/* What We Do Template */
.content-img-what-we-do {
  margin-bottom: -17px;
  max-width: 100%;
  height: auto !important; }

h3.whatwedo {
  border-bottom: 2px solid #333;
  color: black;
  display: block;
  font-family: 'BebasNeueRegular';
  padding: 0 0 2px 0px;
  position: relative; }

h3.related {
  border-bottom: 2px solid #333;
  color: black;
  display: block;
  font-family: 'BebasNeueRegular';
  padding: 0 0 2px 0px;
  position: relative; }

p .related {
  padding-top: 1px; }

/* Fact of the Day */
.scoop {
  width: 75%;
  float: left;
  margin: 0; }

.fotd {
  width: 25%;
  float: left;
  height: 350px;
  overflow: hidden;
  position: relative; }

.fotd .span3 {
  max-height: 350px; }

.fotd p {
  margin: 0 0 18px 0;
  color: #DA1F26;
  color: #333333;
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Arvo'; }

.fotd p::first-letter {
  color: #DA1F26;
  font-size: 50px;
  float: left;
  padding: 0px 4px 0px 0;
  line-height: .6; }

.white-shadow {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 52px;
  width: 200px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), white 70%); }

.fotd-archive article {
  margin: 0; }

.fotd-archive article p {
  font-size: 15px; }

.fotd-archive article p::first-letter {
  color: #000000;
  font-size: 45px;
  float: left;
  padding: 8px 3px 0 0; }

.fact-title {
  color: white;
  display: inline-block;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 20px;
  height: 30px;
  padding: 4px 10px 0 10px;
  background-color: #DA1F26; }

.explicit-date {
  float: right; }

.date-suffix {
  font-size: 9px;
  vertical-align: text-bottom; }

::selection {
  background-color: #DA1F26;
  color: #F7F5F5; }

/* Media Queries*/
@media only screen and (max-width: 1024px) {
  body {
    border-top: 7px solid #8c9af2; }

  .wrapper {
    width: 95%; }

  #slideshow {
    height: 407px; }

  .rsSlide {
    background-color: #f7f5f5; }

  .rsOverflow {
    height: 100% !important; }

  .slide img {
    width: 100% !important;
    height: auto !important; }

  #curl-shadow {
    display: none; }

  .elevator {
    width: 40%; }

  .row.lined > [class*="span"] + [class*="span"]:before {
    display: none; } }
@media only screen and (max-width: 768px) {
  body {
    border-top: 7px solid #8df399; }

  .wrapper {
    width: 97%; }

  #slideshow {
    height: 312px; }

  .rsArrowIcn {
    display: none; }

  .scoop {
    padding-right: 4.5%; }

  #scoop article.span3 h3 {
    font-size: 22px;
    line-height: 25px;
    margin: 2px 0; } }
@media only screen and (max-width: 480px) {
  body {
    border-top: 7px solid #f38d9e; }

  .wrapper {
    width: 100%; }

  #slideshow {
    height: 142px; }

  #banner {
    min-height: 126px; } }
